.login-button {
  display: flex;
  justify-content: flex-end;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
  font-size: 13px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin-left: 10px;
}

.search-box input {
  width: 100px;
  border: 0px;
  border-bottom: 0.5px solid #333;
  outline: none;
  box-shadow: none;
}

.search-box input:focus {
  border-color: #ff0000;
}